.cart-main-container{
    display: flex;
    justify-content: space-between;
    min-height: 80vh;
    max-width:72rem ;
    margin-right: auto;
    margin-left: auto;
  
}

.cart-container-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between
    ;
    padding: 8px;
    /* align-items: center; */
}
.your-cart-empty{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.your-cart-empty h1{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}
.shop-now{
cursor: pointer;
padding: 12px;
margin-top: 20px;
border-radius: 6px;
}